main{
    .main-txt{
        font-size: small;
    }
    div img{
        @include sizes(100%, 100%);
        object-fit: cover;
}
    .bio-img-container{
        margin: 0 20px;
        display: grid;
        @include gridsizes(repeat(2, 1fr), 1fr 2fr);
        @include gridgap(10px, 10px);
        .bio-img-3{
            grid-column: span 2;
        }
    }
    
    .integrantes{
        margin: 0 20px;
        padding-bottom: 20px;
        .int-txt{
            display: flex;
            justify-content: center;
            font-size: 20px;
        }
    }
}
main div .main-txt{
    display: block;
}

@media only screen and (max-width: 500px){
    .int-img-2, .int-img-3, .int-img-4, .int-img-5, .int-img-6{
        display: none;
    }
}
@media only screen and (min-width: 501px) and (max-width: 991px){
    main{
        .main-txt{
            font-size: large;
        }
        .bio-img-container{
            display: grid   ;
            grid-template-rows: 50% 70%;
            max-height: 80vh;
        }
        .bio-img-container .bio-img-3{
            height: 70%;
        }
    }
    .int-img-2, .int-img-3, .int-img-4, .int-img-5, .int-img-6{
        display: none;
    }
}

@media only screen and (min-width: 991px){
    main{
        div .main-txt{
            font-size: medium;
        }
        .bio-img-container{
            margin: 10px 20px;
            @include gridsizes(1fr, 1fr 2fr 1fr 1fr);
        }
        .integrantes-fot{
            margin: 10px 20px;
            display: grid;
            @include gridsizes(500px 400px, repeat(4, 1fr));
            @include gridgap(10px, 10px);
            padding-bottom: 20px;
            .int-img-1, .int-img-2{
                grid-column: span 2;
                height: 100%;
            }
        }
    }
}