.contactos{
    margin: 15px 15px 0px 15px;
}
label{
    width: 100%;
    font-size: 0.9em;
}



.contacto{
    height: 50px;
    align-items: center;
    justify-items: center;
    display: grid;
    @include gridsizes(1fr, repeat(4, 1fr));   
}

input{
    background-color: white;
}
textarea{
    background-color: white;
}
.botones-c a{
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    width: 43px;
    line-height: 40px;
    background-color: black;
    color: azure;
    border-radius: 50%;
    margin-left: 20px;
}


@media only screen and (max-width: 500px){
    .input{
        width: 80%;
        padding: 2px 6px;
        font-size: 0.85em;
        border: 2px solid black;
        border-radius: 10px;
    }
    #consulta{
        border: 2px solid black;
        border-radius: 10px;
        width: 90%;
    }
    .submit{
        border: 2px solid black;
        width: 25%;
        background-color: $fondo2;
        color: #EADBBE;
        font-size: 1.2em;
        border-radius: 6px;
        margin-bottom: 5px;
        letter-spacing: 1px;
    }
}

@media only screen and (max-width: 990px){
    #rider, #dossier{
        display: none;
    }
}

@media only screen and (min-width: 501px){
  
    .input{
        width: 50%;
        padding: 2px 6px;
        font-size: 0.9em;
        border: 3px solid black;
        border-radius: 10px;
    }
    .submit{
        border: 3px solid black;
        width: 12%;
        padding: 2px;
        background-color: $fondo2;
        color: #EADBBE;
        font-size: 1em;
        border-radius: 6px;
        margin-bottom: 5px;
        letter-spacing: 1px;
    }    
    #consulta{
        border: 3px solid black;
        border-radius: 10px;
        width: 60%;
    }
}

@media only screen and (min-width: 501px) and (max-width:990px){
    .contacto{
        height: 75px;
    }
    label{
        font-size: 1.2em;
    }
    .botones-c a{
        border-style: solid;
        border-color: rgb(116, 97, 83);
        font-size: 40px;
        width: 65px;
        line-height: 60px;
        border-radius: 60%
       }
}

@media only screen and (min-width: 991px){
    main div p{
        font-size: large;
    }
    .contacto{
        height: 100px;
    }
    .contactos{
        .page-title{
            display: none;
        }
    }
    .botones-c a{
     border-style: solid;
     border-color: rgb(116, 97, 83);
     font-size: 50px;
     width: 80px;
     line-height: 75px;
     border-radius: 60%
    }
    .input{
        width: 50%;
        padding: 2px 6px;
        font-size: 0.85em;
        border: 3px solid black;
        border-radius: 10px;
    }

    .consulta{
        font-size: x-large;
    }

    #consulta{
        border: 3px solid black;
        border-radius: 10px;
        width: 60%;
        padding: 5px;
    }
    #form-rider{
        display: grid;
        @include gridsizes(1fr 1fr, 3fr 1fr);  
        grid-template-areas: 
        "formm rider"
        "formm dossier";
    }
    #formm{
        grid-area: formm;
        grid-row: span 2;
    }
    
    #rider, #dossier{
        border: 3px solid #00000059;
        padding: 15px;
        border-radius: 10px;
        background-color: #7e7564cc;
        color: #dfcfaf;
        box-shadow: 0 0 40px 0 #0007;
        h4{
            letter-spacing: 0.7px;
            text-shadow: 1px 1px 0 black;
        }
        h4,a{
            font-size: auto;
            background-color: #7E756411;
        }
        a{
            text-shadow: none;
            color: rgb(55, 118, 236);
        }
    }
    #rider{
        grid-area: rider;
        align-self: center;
    }
    #dossier{
        align-self: start;
        grid-area: dossier;
      }
          
    .submit{
       border: 3px solid black;
       padding: 2px;
       background-color: $fondo2;
       color: #EADBBE;
       font-size: 1em;
       border-radius: 6px;
       margin-bottom: 5px;
       letter-spacing: 1px;
       width: 12%;

}
    
}