.shows{
    display: grid;
    @include gridsizes(48% 48%, repeat(3, 1fr));
    justify-items: center;
    height: 30vh;
}
.ul-gen{
    color: $linkcolor;
}
@media only screen and (max-width: 1170px){
    nav #vivo iframe{
        @include sizes(100%, 100%)
    }
}
@media only screen and (min-width: 601px) and (max-width: 1170px){
    #vivo{
        @include gridsizes(repeat(2, 250px), repeat(2, 1fr));
    }
}
@media only screen and (min-width: 601px){
    nav div.shows{
        font-size: x-large;
        height: 400px;
        align-items: center;
    }
    #vivo{
        display: grid;
        justify-content: center;
        @include gridgap(10px, 10px);
        grid-template-areas: 
            "vid-1 vid-2"
            "vid-3 vid-4";
            #vid-1{
                grid-area: vid-1;}
            #vid-2{
                grid-area: vid-2;}
            #vid-3{
                grid-area: vid-3;}
            #vid-4{
                grid-area: vid-4;}
    }
}



/* MUSICA PAG */

.ul-es{
    color: $linkcolor;
    display: grid;
    justify-content: center;}
@media only screen and (max-width: 500px){
    .musica{
        display: grid;
        height: 75%;
        margin: 15px 15px 0px 15px;
        align-items: center;
        padding-bottom: 15px;
        @include gridsizes(1fr, 100%);
        @include gridgap(15px, 10px);
        justify-items: center;
        grid-template-areas: 
        "portada1"
        "album1"
        "ver1"
        "nena"
        "portada2"
        "album2"
        "ver2"
        ;
        #portada1{
            width: 50%;
            grid-area: portada1;}
        #portada2{
            width: 50%;
            grid-area: portada2;}
        #album1{
            grid-area: album1;}
        #album2{
            grid-area: album2;}
        .card-body{
            background-color: $fondo2;
        }
        .btn-primary{
            background-color: $fondo2;
        }
        #ver1{
            justify-self: center;
            grid-area: ver1;
        }
        #ver2{
            justify-self: center;
            grid-area: ver2;
        }
        #vernena, #vercontigo{
            @include sizes(100%, 200px);

        }
        .info-nena{
            display: none;
            }
        .info-contigo{
            display: none;
            }     
        #ofi1{
            display: none;
            grid-area: ofi1;}    
        #ofi2{
            display: none;
            grid-area: ofi2;}
        #nena{
            display: none;
            grid-area: nena;}
        #contigo{
            display: none;
            grid-area: contigo;}
        .portadas{
            @include sizes(100%, 100%);
            display: grid;
            justify-self: center;
            object-fit: cover;
        }
        .album{
            display: grid;
           justify-self: center;
           align-self: baseline;
        }
    }
}


@media only screen and (max-width: 660px){
    
    #nena, #contigo{
        @include sizes(90%, 90%);
    }
    #promo1, #promo2{
        display: none;
    }
}
@media only screen and (min-width: 501px){
    .musica{
        display: grid;
        height: 75%;
        margin: 15px 15px 0px 15px;
        align-items: center;
        padding-bottom: 15px;
        @include gridsizes(1fr, 50% 50%);
        @include gridgap(15px, 10px);
        justify-items: center;
        grid-template-areas: 
        "portada1 portada2"
        "album1 album2"
        "info-nena info-contigo"
        "clip1 clip2"
        "cl-nena cl-cont"
        "ofi1 ofi2"
        "nena contigo";
        #portada1{
            grid-area: portada1;}
        #portada2{
            grid-area: portada2;}
        #album1{
            grid-area: album1;}
        #album2{
            grid-area: album2;}
        #ver1{
            display: none;
        }
        #ver2{
            display: none;
        }
        #vernena{
            display: none;
        }
        #vercontigo{
            display: none;
        }   
        #clip1{
            grid-area: clip1;}
        #clip2{
            grid-area: clip2;}
        #cl-nena{
            grid-area: cl-nena;}
        #cl-cont{
            grid-area: cl-cont;}      
        #info-nena{
            grid-area: info-nena;}
        #info-contigo{
            grid-area: info-contigo;}     
        #ofi1{
            grid-area: ofi1;}    
        #ofi2{
            grid-area: ofi2;}
        #nena{
            grid-area: nena;}
        #contigo{
            grid-area: contigo;}
        
        .portadas{
            @include sizes(30%, 100%);
            display: grid;
            justify-self: center;
            object-fit: cover;
        }
        .album{
            display: grid;
           justify-self: center;
           align-self: baseline;
        }
        
    }
}
@media only screen and (min-width: 501px){
    #nena, #contigo{
        @include sizes(100%, 250px)
    }
    #contigo{
        padding-right: 15px;
    }
}

@media only screen and (min-width: 901px){
    #nena, #contigo{
        height: 350px;

    }
    
}