/* VARIABLES */

$linkcolor: #7E7564;
$fondo2: #7E7564;

/* MIXINS */

@mixin sizes($width, $height){
    width: $width;
    height: $height;
}

@mixin gridsizes($rows, $columns){
    grid-template-rows: $rows;
    grid-template-columns: $columns;
}
@mixin gridgap($rowgap, $columngap){
    row-gap: $rowgap;
    column-gap: $columngap;
}